[submodule "packages/meteor-collection-table"]
	path = packages/meteor-collection-table
	url = https://github.com/aramk/meteor-collection-table.git
[submodule "packages/meteor-autoform"]
	path = packages/meteor-autoform
	url = https://github.com/aramk/meteor-autoform.git
[submodule "packages/meteor-utility"]
	path = packages/meteor-utility
	url = https://github.com/urbanetic/meteor-utility.git
[submodule "packages/meteor-dropdown"]
	path = packages/meteor-dropdown
	url = https://github.com/aramk/meteor-dropdown.git
[submodule "packages/meteor-notifications"]
	path = packages/meteor-notifications
	url = https://github.com/aramk/meteor-notifications.git
[submodule "packages/meteor-comments"]
	path = packages/meteor-comments
	url = https://github.com/aramk/meteor-comments.git
[submodule "packages/meteor-events"]
	path = packages/meteor-events
	url = https://github.com/aramk/meteor-events.git
[submodule "packages/meteor-accounts-ui"]
	path = packages/meteor-accounts-ui
	url = https://github.com/urbanetic/meteor-accounts-ui.git
[submodule "packages/meteor-checkbox"]
	path = packages/meteor-checkbox
	url = https://github.com/aramk/meteor-checkbox.git
