<template name="productForm">
<h2>Product Item</h2>
  {{#autoForm collection=collection id=formName type=formType doc=doc}}

    {{> afQuickField name="name"}}
    {{> afQuickField name="isBright"}}
    {{> afQuickField name="type" type="dropdown" items=types options="allowed"}}

    {{#if doc}}
      <div class="ui comments">
        <h3 class="ui dividing header">Comments</h3>
        {{> commentList series=doc._id}}
      </div>
    {{/if}}
    
    <!-- {{> afFieldInput name="azimuth" type="azimuthArray"}}
    {{> afQuickField name="size.width"}}
    {{> afQuickField name="size.height"}}
    {{> afQuickField name="size.depth"}}
    {{> afQuickField name="size.deeper.height"}}
    {{> afQuickField name="size.deeper.depth"}} -->

    <!-- {{> colorItem doc=color isSubForm=true}} -->
    
    <button type="button" class="cancel button">Cancel</button>
    <button type="submit">Submit</button>
  {{/autoForm}}

</template>
